@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&family=Inter:wght@400;500;700&display=swap');


body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
    color: $color-secondary
}

.main-color {
    color: $color-primary;
}

.secondary-color {
    color: $color-secondary
}

.ant-pagination {
    .ant-pagination-item {

        &:hover,
        &.ant-pagination-item-active {
            background-color: $color-primary;
            border: 1px solid $color-primary;
            color: $color-white;
        }
    }

    .ant-pagination-prev,
    .ant-pagination-next {
        border: 1px solid #ddd;

    }
}

[dir="rtl"] {
    .ant-pagination {

        .ant-pagination-next {
            margin: 0 10px;
        }
    }
}